name: Dispatcher
on:
  push:
    branches: [main]

jobs:
  dispatch:
    name: Dispatch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo: ['wouter-heerwegh/test_repo_b']
    timeout-minutes: 5
    steps:
      - name: Dispatch to workflows
        uses: peter-evans/repository-dispatch@v2
        with:
            event-type: submodule_update
            token: ${{ secrets.ACTION_TOKEN }}
            repository: ${{ matrix.repo }}